.sidenav-container {
    /* display: flex; */
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;
    }

/* 
     .button{
      display: flex;
      flex-direction: column;
      align-items: right;
      justify-content: right;
     }
     
     button{
      text-align: left;
     } */
      
     


.mat-button{

  align-items: right;
justify-content: right;
}
/* 
.myBtn[_ngcontent-c4] {
  min-width: 100%;
  font-size: 17px;
  font-weight: 800;
  color:#44472f;
} */